#Name : Abdullah Munir


#Roll no : SP25-BBD-084 - B


#Assignment -1 {Lab}

In [2]:
#Q1:
for num in range (2,21,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

In [5]:
#Q2:
names=('ali','hamza','ahsan')
for name in names:
    print(name.upper())

ALI
HAMZA
AHSAN

In [7]:
#Q3:
for num in range(10, 0, -1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [9]:
#Q4:
numbers = [10, 15, 22, 33, 40, 45, 60, 77, 90]

for num in numbers:
    if num % 3 == 0:
        print(num)

15
33
45
60
90

In [11]:
#Q5:
for num in range(1, 11):
    print(num ** 2)

1
4
9
16
25
36
49
64
81
100

In [13]:
#Q6:
celsius_temps = [0, 10, 20, 30, 40, 100]

for c in celsius_temps:
    f = (c * 9/5) + 32
    print(f"{c}°C = {f}°F")

0°C = 32.0°F
10°C = 50.0°F
20°C = 68.0°F
30°C = 86.0°F
40°C = 104.0°F
100°C = 212.0°F

In [15]:
#Q7:
for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [17]:
#Q8:
numbers = [10, 20, 30, 40, 50]  
total = 0  

for num in numbers:
    total += num  

print(total)

150

In [19]:
#Q9:
text = "Abdullah"

for char in text:
    print(char)

A
b
d
u
l
l
a
h

In [21]:
#Q10:
words = ["Abdullah", "Ahmad", "Ali", "Akbar", "Mohsin"]

for word in words:
    if len(word) > 5:
        print(word)

Abdullah
Mohsin